<script>
	var colour = "INCORRECT VALUE"
	var b_colour = "INCORRECT VALUE"
	function submit(){
		selections = document.getElementsByName("selection");
		for(var i=0;i<selections.length;i++){
			if(selections[i].checked){
				colour = selections[i].value;
				break;
			}
		}

		b_selections = document.getElementsByName("b_selection");
		for(var i=0;i<b_selections.length;i++){
			if(b_selections[i].checked){
				b_colour = b_selections[i].value;
				break;
			}
		}
		var return_to = getQueryParam('return_to', 'pebblejs://close#');
		var colourString = JSON.stringify(colour);
		console.log(colourString);
		var componentString = encodeURIComponent(colourString);
		console.log(componentString);
		console.log(return_to);
		var bColourString = JSON.stringify(b_colour);
		console.log(bColourString);
		var bComponentString = encodeURIComponent(bColourString);

		var URL = return_to + componentString + bComponentString;
		console.log(URL);
		document.location = URL;
		console.log(document.location);
	}
	// Something like this to get query variables.
	function getQueryParam(variable, defaultValue) {
		// Find all URL parameters
		var query = location.search.substring(1);
		var vars = query.split('&');
		for (var i = 0; i < vars.length; i++) {
			var pair = vars[i].split('=');
			
			// If the query variable parameter is found, decode it to use and return it for use
			if (pair[0] === variable) {
				return decodeURIComponent(pair[1]);
			}
		}
		return defaultValue || false;
	}
	
	function cancel(){
		//location.href = 'pebblejs://close#success';
		// Set the return URL depending on the runtime environment
		var return_to = getQueryParam('return_to', 'pebblejs://close#');
		document.location = return_to + encodeURIComponent(JSON.stringify(colour));//in the brackets was some_settings but that was not defined
	}
</script>
<form action="" id="Colours">
	<input type="radio" name="selection" value=0>Red<br>
	<input type="radio" name="selection" value=1>Green<br>
	<input type="radio" name="selection" value=2>Blue<br>
<input type="radio" name="selection" value=3>Yellow<br>
<input type="radio" name="selection" value=4>Cyan<br>
<input type="radio" name="selection" value=5>Magenta<br>
<input type="radio" name="selection" value=6>Black<br>
<input type="radio" name="selection" value=7>White<br>
<BR>
Select a Background Colour
<BR>
	<input type="radio" name="b_selection" value=0>Red<br>
	<input type="radio" name="b_selection" value=1>Green<br>
	<input type="radio" name="b_selection" value=2>Blue<br>
<input type="radio" name="b_selection" value=3>Yellow<br>
<input type="radio" name="b_selection" value=4>Cyan<br>
<input type="radio" name="b_selection" value=5>Magenta<br>
<input type="radio" name="b_selection" value=6>Black<br>
<input type="radio" name="b_selection" value=7>White<br>
</form>
<br/>
<button type="button" onclick="submit()">Submit</button>
<br/>
<button type="button" onclick="cancel()">Cancel</button>